.about-section {
    padding: 70px 20px;
    font-family: 'Montserrat', sans-serif;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #fff;
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.background {
    position: absolute;
    inset: 0;
    z-index: -1;
    object-fit: cover;
}

.about-section div {
    flex: 1;
}
.about-section .left h3 {
    font-size: 15px;
    color: #d1d1d1;
    margin: 20px 0;
    font-weight: normal;
}
.about-section .left h1 {
    font-weight: 600;
    line-height: 1.5;
    font-size: 27px;
    width: 85%;
}

.about-section .left .client {
    display: flex;
    margin-top: 50px;
    color: #fcf6f6d1;
}
.about-section .left .client p {
    font-size: 13px;
}
.about-section .right p {
    color: #f7f2f2;
    line-height: 1.7;
    margin-bottom: 25px;
}
.about-section .right button {
    border: none;
    padding: 10px 18px;
    text-transform: uppercase;
    font-size: 18px;
    color: #464646;
}
@media screen and (min-width: 800px) {
 .about-section {
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
 }
 .about-section .left h1 {
    font-size: 45px;
    width: 100%;
 }
 .about-section .left .client p {
    font-size: 15px;
}
}